body {
  margin: 0;
  font-family:monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(218, 215, 205);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form{
  margin: 30px 50px;
}
a, #footerLink{
  text-decoration: none;
}
#name{
  padding-right:130vh;
}
  #header{
    padding: 10vh;
      background-image: url("https://images.unsplash.com/photo-1678267361423-dbe60452dc4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80");
  }
  #nav{
    padding-top: 2vh;
  }
  #title{
      font-size: 70px;
      font-weight: bold;
      color: #2f3e46;
  }
  #info{
      padding: 100px;
      font-size: 2rem;
      color: #354f52;
  }
  #footer{
    height: 50px;
    margin-top: -50px;
      font-size: 14px;
      color:rgba(163, 177, 138);
  }
  #icon{
    font-size: 100px;
    padding-right: 50px;
  }

  #card  {border-radius: 4px;
  padding: 5px;
}
#projectName{
  font-size: 34px;
  color: rgba(218, 215, 205);
}
#projects{
  margin:50px;
}